{% extends "PandaExampleBundle::layout.html.twig" %}

{% block page_title %}My Blog{% endblock %}

{% block content %}
        {% if app.request.attributes.get('_route') == 'panda_blog_homepage' %}
           {% for blog in blogs %}
                     <h2>{{ blog }}</h2>
                {% endfor %}
        {% else %}
            {{ post }}
        {% endif %}
    +{% endblock %}