{% extends "PandaExampleBundle::layout.html.twig" %}

{% block page_title %}Post - {{ postId }}{% endblock %}
{% block content %}
        <div>
            {{ post }}
        </div>
    {% endblock %}