{% include"PandaExampleBundle:Default:head.html.twig" %}
{% block body %}
        {% block main_menu %}
            <ul class="main-menu">
                    {#<li><a href="{{ path('homepage-show') }}">Homepage</a></li>#}
                    {#<li><a href="{{ path('blog_teaser') }}">Blog</a></li>#}
                    {#<li><a href="{{ path('footer') }}">About-us</a></li>#}
                </ul>
        {% endblock %}

        <div id="page-title">
            <h1>{% block page_title %}{% endblock %}</h1>
        </div>
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    {% endblock %}
{% include"PandaExampleBundle:Default:footer.html.twig" %}