<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to blog!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('Pafavicon.ico') }}" />
    </head>